/* .login {
  width: 115px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: 2px solid #345494;
  color: #345494;
}

.login:hover {
  opacity: 0.9;
} */
